/* Recursos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------- ESTILOS GENERALES MOBILE FIRST ----------- */

/* ESTILOS GENERALES */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #212B38;
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	min-height: 100vh;
}

nav {
	padding: 5px 20px;
	background-color: rgba(0, 0, 0, 0.373);
}

ul {
	list-style-type: none;
}

nav a,
footer a {
	font-weight: 600;
	color: white;
	text-decoration: none;
}

nav a:hover,
footer a:hover {
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.logo a img {
	height: 40px;
}

.menu li {
	font-size: 16.5px;
	padding: 10px 5px;
	white-space: nowrap;
}

.toggle a {
	font-size: 20px;
}

.btn {
	padding: 10px 15px;
	margin: 8px;
	font-weight: 500;
	border-radius: 5px;
	text-decoration: none;
	font-size: 18px;
}

.btn:hover {
	-webkit-animation: scale-up-center 0.4s linear;
	animation: scale-up-center 0.4s linear;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}

.btn-general {
	background: rgba(90, 255, 231, 1);
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	color: #0a0d12;
}

.btn-secondary {
	box-sizing: border-box;
	background: transparent;
	box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
	color: white;
}

.btn-section {
	font-size: 16px;
	text-align: center;
	font-weight: 500;
	padding: 5px 20px;
	margin: 15px 0;
	border-radius: 20px;
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
}

/* MENÚ MÓVIL */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	order: 1;
}

.item {
	width: 100%;
	text-align: center;
	order: 2;
	display: none;
}

.item.button {
	order: 3;
}

.button {
	border-top: 1px #ffffff29 solid;
	margin-top: 5px;
}

.active .item {
	display: block;
}

/* FOOTER MÓVIL */
footer {
	padding: 5px 20px;
	background-color: rgba(0, 0, 0, 0.373);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: 1px #ffffff29 solid;
}

footer img {
	height: 45px;
	margin: 15px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px 10px;
	border-top: 1px #ffffff29 solid;
	border-bottom: 1px #ffffff29 solid;
}

.footer-nav li a {
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px;
	line-height: 35px;
	color: #a8b7cc;
}

.footer-nav li a:hover {
	color: #ffffff;
}

.footer-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.footer-info a {
	font-weight: 300;
	font-size: 12px;
	padding: 5px;
	line-height: 35px;
	text-transform: uppercase;
	color: #a8b7cc;
}

.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.social-icons a {
	font-size: 20px;
	padding: 0 10px;
}

.social-icons a:hover {
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* HOME MÓVIL */
.home-main {
	position: relative;
	overflow: hidden;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url('../assets/home_bg.jpg');
	background-repeat: no-repeat;
	background-color: #212B38;
	background-blend-mode: soft-light;
	background-position: top;
	background-size: cover;
	animation: kenburns-top 60s ease-out infinite both;
	opacity: 80%;
}

@keyframes kenburns-top {
	0% {
		transform: scale(1) translateY(0);
		transform-origin: 50% 16%;
	}

	100% {
		transform: scale(1.25) translateY(-15px);
		transform-origin: top;
	}
}

.home-main h1 {
	width: 80%;
	color: white;
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0;
}

.home-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

/* SERVICIOS MÓVIL */
.services-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #0a0d12;
}

.services-introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #0a0d12;
	background-image: url('../assets/services_bg_1.jpg');
	background-size: cover;
	background-blend-mode: soft-light;
	padding: 20px 20px;
	min-height: 90vh;
	width: 100%;
}

.services-introduction h1 {
	color: white;
	font-size: 35px;
	font-weight: 400;
}

.services-introduction p {
	color: rgb(207, 207, 207);
	font-size: 22px;
	font-weight: 200;
	padding: 15px 0;
}

.services-introduction i {
	font-size: 30px;
	padding-top: 20px;
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.services-introduction span {
	font-weight: 400;
}

.services-cards {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #a8b7cc;
	padding: 15px 0;
}

.service-card {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #37465B 0%, #212B38 100%);
	overflow: hidden;
	margin: 15px 25px;
	border-radius: 30px;
}

.service-card:hover {
	box-shadow: inset 0px 0px 100px #736eff38;
}

.service-card h3 {
	order: 2;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	padding: 5px 20px;
	margin: 20px;
	border-radius: 20px;
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
}

.service-card p {
	order: 3;
	font-size: 16px;
	font-weight: 300;
	color: rgb(206, 206, 206);
	padding: 0 25px 20px 25px;
	text-align: center;
}

.service-card img {
	order: 1;
	object-fit: cover;
	width: 100%;
	height: 180px;
}

.services-button {
	padding: 25px;
	min-height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.services-button p {
	color: white;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 15px;
	font-weight: 300;
}

.services-button i {
	padding-left: 10px;
}

.programming-logos {
	width: 100%;
	min-height: 180px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.programming-logos img {
	height: 80px;
	padding: 10px;
}

/* PRECIOS MÓVIL */
.pricing-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #9e9f9e;
	background: linear-gradient(90deg, rgb(165, 205, 220) 0%, rgb(255, 255, 255) 100%);
}

.pricing-introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 25px;
}

.pricing-introduction p {
	text-align: center;
	padding: 5px 30px;
	font-size: 16px;
}

.pricing-introduction span {
	font-weight: bold;
}

.pricing-cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
}

.pricing-card {
	width: 100%;
	max-width: 280px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 20px 15px;
	box-shadow: 0px 30px 0px -18px rgba(114, 110, 255, 1) inset;
	border-radius: 15px;
	border: 1px rgba(0, 0, 0, 0.179) solid;
	margin: 20px 0;
	height: 380px;
}

.pricing-card h2 {
	font-weight: 300;
	padding-top: 10px;
	text-align: center;
}

.pricing-card p {
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}

.pricing-card h3 {
	width: 100%;
	font-weight: 500;
	font-size: 20px;
	background-color: #08C6AB;
	background: linear-gradient(0deg, #726EFF 0%, #8783ff 100%);
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	color: rgb(0, 0, 0);
}

.pricing-button {
	width: 100%;
	background-color: #08C6AB;
	padding: 25px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pricing-button p {
	font-size: 18px;
	padding: 15px;
	text-align: center;
}

.pricing-button i {
	padding-left: 10px;
}

/* CONTACTO MÓVIL */
.contact-main {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #3f3f3f;
	background: linear-gradient(120deg, #212B38 0%, #11161c 100%);
}

.contact-introduction {
	width: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;

}

.contact-introduction h1 {
	color: white;
	font-size: 30px;
	padding: 15px 0 25px 0;
}

.contact-introduction p {
	color: rgb(190, 190, 190);
	font-size: 16px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 85%;
	padding: 25px 0;
}

.contact-form div {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px 0;
}

.check-terms {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 5px 0;
}

.check-terms input {
	margin: 5px;
}

.contact-form label {
	color: #949494;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	padding: 2px 0;
}

.contact-form input,
.contact-form select {
	color: white;
	height: 30px;
	padding: 5px;
	background-color: #37465B;
	box-shadow: none;
	border: 1px rgb(91, 91, 91) solid;
	border-radius: 5px;
}

.contact-form textarea {
	color: white;
	padding: 5px;
	background-color: #37465B;
	box-shadow: none;
	border: 1px rgb(91, 91, 91) solid;
	border-radius: 5px;
}

.contact-form button {
	height: 45px;
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	cursor: pointer;
	border: none;
}

.contact-form button:hover {
	background-color: #5AFFE7;
}

.contact-form i {
	padding-left: 10px;
}

/* ----------- ESTILOS RESPONSIVE PARA TABLET Y DESKTOP ----------- */

/* RESPONSIVE TABLET */
@media all and (min-width: 600px) {

	/* MENÚ TABLET */
	.menu {
		justify-content: center;
	}

	.logo {
		flex: 1;
	}

	.toggle {
		flex: 1;
		text-align: right;
	}

	.button {
		border: 0;
		margin: 0;
	}

	.item.button {
		width: auto;
		order: 1;
		display: block;
	}

	.button a {
		padding: 7.5px 15px;
		background: rgba(90, 255, 231, 1);
		background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
		border-radius: 20px;
		color: #0a0d12;
		font-weight: 500;
	}

	.button a:hover {
		box-sizing: border-box;
		text-decoration: none;
		background: transparent;
		box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
		color: white;
	}

	/* HOME TABLET */
	.home-main h1 {
		font-size: 65px;
	}

	/* SERVICIOS TABLET */
	.services-introduction h1 {
		width: 80%;
	}

	.btn-section {
		font-size: 18px;
		padding: 5px 20px;
	}

	.services-introduction p {
		width: 80%;
	}

	.services-cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: start;
	}

	.service-card {
		width: 40%;
	}

	.services-button p {
		width: 80%;
	}

	/* PRECIOS TABLET */
	.pricing-introduction {
		max-width: 85%;
	}

	.pricing-introduction p {
		font-size: 18px;
	}

	.pricing-cards {
		max-width: 85%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.pricing-card {
		max-width: 280px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		padding: 20px 15px;
		box-shadow: 0px 30px 0px -18px rgba(114, 110, 255, 1) inset;
		border-radius: 15px;
		border: 1px rgba(0, 0, 0, 0.179) solid;
		margin: 20px 20px;
		height: 380px;
	}
}

/* RESPONSIVE DESKTOP */
@media all and (min-width: 900px) {

	/* MENÚ DESKTOP */
	.item {
		display: block;
		width: auto;
	}

	.toggle {
		display: none;
	}

	.logo {
		order: 0;
	}

	.item {
		order: 1;
	}

	.button {
		order: 2;
	}

	.menu li {
		padding: 10px 10px;
	}

	.menu li.button {
		padding-right: 0;
	}

	/* FOOTER DESKTOP */
	.footer-info {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 10px 45px;
	}

	/* HOME DESKTOP */
	.home-main h1 {
		font-size: 75px;
		width: 100%;
		padding: 0 35px;
	}

	.home-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.home-buttons .btn {
		font-size: 20px;
		margin: 15px;
	}

	/* SERVICIOS DESKTOP */

	.services-introduction h1 {
		width: 80%;
		font-size: 60px;
		padding: 25px 0;
	}

	.services-introduction p {
		width: 80%;
		font-size: 30px;
	}

	.services-cards {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}

	.service-card {
		width: 20%;
	}

	.services-button p {
		width: 100%;
	}

	.programming-logos img {
		height: 110px;
		padding: 20px;
	}

	/* CONTACTO DESKTOP */
	.contact-main {
		min-height: auto;
		padding: 50px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: start;
	}

	.contact-introduction {
		width: 40%;
		padding: 0 25px;

	}

	.contact-introduction h1 {
		color: white;
		font-size: 45px;
		padding: 15px 0 25px 0;
	}

	.contact-introduction p {
		color: rgb(190, 190, 190);
		font-size: 18px;
	}

	.contact-form {
		width: 40%;
		padding: 0 25px;
	}
}