/* Recursos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------- ESTILOS GENERALES MOBILE FIRST ----------- */

/* ESTILOS GENERALES */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #212B38;
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	min-height: 100vh;
}

nav {
	padding: 5px 20px;
	background-color: rgba(0, 0, 0, 0.373);
}

ul {
	list-style-type: none;
}

nav a,
footer a {
	font-weight: 600;
	color: white;
	text-decoration: none;
}

nav a:hover,
footer a:hover {
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.logo a img {
	height: 40px;
}

.menu li {
	font-size: 16px;
	padding: 10px 5px;
	white-space: nowrap;
}

.toggle a {
	font-size: 20px;
}

.btn {
	padding: 10px 15px;
	margin: 8px;
	font-weight: 500;
	border-radius: 5px;
	text-decoration: none;
	font-size: 18px;
}

.btn:hover {
	-webkit-animation: scale-up-center 0.4s linear;
	animation: scale-up-center 0.4s linear;
}

@-webkit-keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	100% {
	  -webkit-transform: scale(1.1);
			  transform: scale(1.1);
	}
  }
  @keyframes scale-up-center {
	0% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}
	100% {
	  -webkit-transform: scale(1.1);
			  transform: scale(1.1);
	}
  }

.btn-general {
	background: rgba(90, 255, 231, 1);
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	color: #0a0d12;
}

.btn-secundario {
	box-sizing: border-box;
	background: transparent;
	box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
	color: white;
}

/* MENÚ MÓVIL */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.toggle {
	order: 1;
}

.item {
	width: 100%;
	text-align: center;
	order: 2;
	display: none;
}

.item.button {
	order: 3;
}

.button {
	border-top: 1px #ffffff29 solid;
	margin-top: 5px;
}

.active .item {
	display: block;
}

/* FOOTER MÓVIL */
footer {
	padding: 5px 20px;
	background-color: rgba(0, 0, 0, 0.373);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: 1px #ffffff29 solid;
}

footer img {
	height: 45px;
	margin: 15px;
}

.footer-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 15px 10px;
	border-top: 1px #ffffff29 solid;
	border-bottom: 1px #ffffff29 solid;
}

.footer-nav li a {
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px;
	line-height: 35px;
	color: #a8b7cc;
}

.footer-nav li a:hover {
	color: #ffffff;
}

.footer-info {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.footer-info a {
	font-weight: 300;
	font-size: 12px;
	padding: 5px;
	line-height: 35px;
	text-transform: uppercase;
	color: #a8b7cc;
}

.social-icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.social-icons a {
	font-size: 20px;
	padding: 0 10px;
}

.social-icons a:hover {
	background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* HOME MÓVIL */
.home-main {
	position: relative;
	overflow: hidden;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-main::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url('../assets/home_bg.jpg');
	background-repeat: no-repeat;
	background-color: #212B38;
	background-blend-mode: soft-light;
	background-position:top;
	background-size: cover;
	animation: kenburns-top 60s ease-out infinite both;
	opacity: 80%;
}

@keyframes kenburns-top {
	0% {
		transform: scale(1) translateY(0);
		transform-origin: 50% 16%;
	}

	100% {
		transform: scale(1.25) translateY(-15px);
		transform-origin: top;
	}
}

.home-main h1 {
	width: 80%;
	color: white;
	font-weight: 400;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0;
}

.home-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}

/* ----------- ESTILOS RESPONSIVE PARA TABLET Y DESKTOP ----------- */

/* RESPONSIVE TABLET */
@media all and (min-width: 600px) {

	/* MENÚ TABLET */
	.menu {
		justify-content: center;
	}

	.logo {
		flex: 1;
	}

	.toggle {
		flex: 1;
		text-align: right;
	}

	.button {
		border: 0;
		margin: 0;
	}

	.item.button {
		width: auto;
		order: 1;
		display: block;
	}

	.button a {
		padding: 7.5px 15px;
		background: rgba(90, 255, 231, 1);
		background: linear-gradient(40deg, rgba(90, 255, 231, 1) 0%, rgba(114, 110, 255, 1) 100%);
		border-radius: 20px;
		color: #0a0d12;
		font-weight: 500;
	}

	.button a:hover {
		box-sizing: border-box;
		text-decoration: none;
		background: transparent;
		box-shadow: 0px 0px 0px 2px rgb(255, 255, 255) inset;
		color: white;
	}

	/* HOME TABLET */
	.home-main h1 {
		font-size: 65px;
	}
}

/* RESPONSIVE DESKTOP */
@media all and (min-width: 900px) {

	/* MENÚ DESKTOP */
	.item {
		display: block;
		width: auto;
	}

	.toggle {
		display: none;
	}

	.logo {
		order: 0;
	}

	.item {
		order: 1;
	}

	.button {
		order: 2;
	}

	.menu li {
		padding: 10px 10px;
	}

	.menu li.button {
		padding-right: 0;
	}

	/* FOOTER DESKTOP */
	.footer-info {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		padding: 10px 45px;
	}

	/* HOME DESKTOP */
	.home-main h1 {
		font-size: 75px;
		width: 100%;
		padding: 0 35px;
	}

	.home-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}

	.home-buttons .btn {
		font-size: 20px;
		margin: 15px;
	}
}